		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="white">			
			<div class="sidebar-wrapper scrollbar scrollbar-inner scroll-content scroll-scrolly_visible">
				<div class="sidebar-content">

					
						<div class="user">
							<div class="avatar-sm float-left mr-2">
								<img src="/static/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
							</div>
							<div class="info">
								<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
									<span>
									
										<span class="user-level"> </span>
										<span class="caret"></span>
									</span>
								</a>
								<div class="clearfix"></div>

								<div class="collapse in" id="collapseExample">
									<ul class="nav">
										<li>
											<a href="#profile">
												<span class="link-collapse">My Profile</span>
											</a>
										</li>
										<li>
											
										</li>
									</ul>
								</div>
							</div>
						</div>
						<ul class="nav nav-primary">
							<li class="nav-item active">
								<a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
									<i class="fas fa-home"></i>
									<p>Dashboard</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="dashboard">
									<ul class="nav nav-collapse">
										<li>
											<a href="/index.html">
												<span class="sub-item">Taux de reussite</span>
											</a>
										</li>
										<li>
											<a href="/index.html">
												<span class="sub-item">Taux de satisfaction</span>
											</a>
										</li>
										<li>
											<a href="/index.html">
												<span class="sub-item">Employabilite</span>
											</a>
										</li>
										<li>
											<a href="/index.html">
												<span class="sub-item">Partenariat</span>
											</a>
										</li>
										<li>
											<a href="/index.html">
												<span class="sub-item">Responsabilite societale</span>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="nav-section">
								<span class="sidebar-mini-icon">
									<i class="fa fa-ellipsis-h"></i>
								</span>
								<div class="col-12">
									<select name="year" id="year" class="form-control">
										<option value="">Choisir Année</option>
										<option value="2000">2000</option>
										<option value="2000">2001</option>
										<option value="2000">2002</option>
										<option value="2000">2003</option>
										<option value="2000">2004</option>
										<option value="2000">2005</option>
										<option value="2000">2006</option>
										<option value="2000">2007</option>
										<option value="2000">2008</option>
										<option value="2000">2009</option>
										<option value="2000">2010</option>
										<option value="2000">2011</option>
										<option value="2000">2012</option>
										<option value="2000">2014</option>
										<option value="2000">2015</option>
										<option value="2000">2016</option>
										<option value="2000">2017</option>
										<option value="2000">2018</option>
										<option value="2000">2019</option>
										<option value="2000">2020</option>
									</select>
								</div>
																
							</li>
							<li class="nav-section">
								<span class="sidebar-mini-icon">
									<i class="fa fa-ellipsis-h"></i>
								</span>
								
								<div class="col-12">
									<select name="mention" id="mention" class="form-control">
										<option value="">Choisir Mention</option>
										<option value="2000">Sciences Informatique</option>
										<option value="2000">Gestion</option>
										
									</select>
								</div>
								
							</li>
							<li class="nav-section">
								<span class="sidebar-mini-icon">
									<i class="fa fa-ellipsis-h"></i>
								</span>
								
								<div class="col-12">
									<select name="section" id="section" class="form-control">
										<option value="">Choisir Niveau</option>
										<option value="1">L0</option>
										<option value="2">L1</option>
										<option value="3">L2</option>
										<option value="4">L3</option>
										
									</select>
								</div>
								
							</li>
							<li class="nav-section">
								<span class="sidebar-mini-icon">
									<i class="fa fa-ellipsis-h"></i>
								</span>
								
								<div class="col-12">
									<select name="vaccation" id="vaccation" class="form-control">
										<option value="">Choisir Vaccation</option>
										<option value="0">AM</option>
										<option value="1">PM</option>
																				
									</select>
								</div>
								
							</li>
							
							
						
						</ul>
					
															
				

				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        